<template lang="html">
    <div>
        <ul>
            <li>One {{text}}</li>
            <li>Two {{text}}</li>
            <li>Three {{text}}</li>
        </ul>
    </div>
</template>

<script>
    export default{
        props: ['text']
    }
</script>

<style></style>