<template>
    <div>
        <h1>Status: {{status}}</h1>
        <h2>Message: {{message}}</h2>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {}
        }
    }
</script>

<style></style>