<template lang="html">
    <div>
        <h1>{{title}}</h1>
        <list :text="text"></list>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {}
        }
    }
</script>

<style></style>